In [1]:
import nltk

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
import pandas as pd

In [5]:
data=pd.read_csv('spam.csv', encoding='ISO-8859â€“1')

In [6]:
data.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data['spam']=data['type'].map({'spam':1,'ham':0}).astype(int)

In [8]:
data.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [9]:
t=len(data['type'])
print(t)

116

In [10]:
t=len(data['type'])
print("NO OF ROWS IN REVIEW COLUMN: ",t)

NO OF ROWS IN REVIEW COLUMN:  116

In [12]:
data['text'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [13]:
#tokenization
def tokenizer(text):
    return text.split()

In [15]:
data['text']=data['text'].apply(tokenizer)

In [16]:
data['text'][2]

['Free',
 'entry',
 'in',
 '2',
 'a',
 'wkly',
 'comp',
 'to',
 'win',
 'FA',
 'Cup',
 'final',
 'tkts',
 '21st',
 'May',
 '2005.',
 'Text',
 'FA',
 'to',
 '87121',
 'to',
 'receive',
 'entry',
 'question(std',
 'txt',
 "rate)T&C's",
 'apply',
 "08452810075over18's"]

In [17]:
#stemming
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords= False)

In [18]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [19]:
data['text']=data['text'].apply(stem_it)

In [20]:
data['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [21]:
#lemmitization
from nltk.stem import WordNetLemmatizer
lemmatizer= WordNetLemmatizer()

In [22]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word, pos='a') for word in text]

In [23]:
data['text']=data['text'].apply(lemmit_it)

In [24]:
data['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [25]:
#stopwords
from nltk.corpus import stopwords
stop_words=stopwords.words("english")

In [26]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [27]:
def stop_it(text):
    review = [word for word in text if not word in stop_words]
    return review

In [29]:
data['text']=data['text'].apply(stop_it)

In [31]:
data['text'][2]

['free',
 'entri',
 '2',
 'wkli',
 'comp',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 '87121',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [32]:
data.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [33]:
#converting comma separated sentences back
data['text']=data['text'].apply(' '.join)

In [34]:
data.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [37]:
#vectorization- to convert our text to numerical values because all computers can work with numbers
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=data.spam.values
x=tfidf.fit_transform(data['text'])

In [38]:
x

<116x712 sparse matrix of type '<class 'numpy.float64'>'
	with 1081 stored elements in Compressed Sparse Row format>

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_text, y_train, y_text=train_test_split(x,y,random_state=1,test_size=0.33,shuffle=False)

In [47]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred= clf.predict(x_text)

In [48]:
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_text)*100
print('accuracy:',acc_log)

accuracy: 92.3076923076923